---
interface Props {
  title: string;
  func?: string;
  type?: string;
}

const { title, func = "primary", type = 'button' } = Astro.props;

const functionButton =
  func === "search" ? "search" : (func === "primary" ? "primary" : "secondary");
---

<div class="flex">
  <button
    class:list={[
      {
        "rounded-full flex w-[6rem] h-[2rem] bg-slate-500 text-white":
          functionButton == "search",
        "bg-red-500 rounded-full flex w-[6rem] h-[2rem]": functionButton == "primary",
        "bg-white text-black rounded-full flex w-[6rem] h-[2rem]": functionButton == "secondary",
      },
    ]}
    type={type === 'submit' ? 'submit' : 'button' }
  >
    {title}
  </button>
</div>
